# Consolidated Pre-processing Notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load dataset from ../raw_data/
df = pd.read_csv("../raw_data/chicago.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257077 entries, 0 to 257076
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CASE#                   257077 non-null  object
 1   DATE  OF OCCURRENCE     257077 non-null  object
 2   BLOCK                   257077 non-null  object
 3    IUCR                   257077 non-null  object
 4    PRIMARY DESCRIPTION    257077 non-null  object
 5    SECONDARY DESCRIPTION  257077 non-null  object
 6    LOCATION DESCRIPTION   256032 non-null  object
 7   ARREST                  257077 non-null  object
 8   DOMESTIC                257077 non-null  object
 9   BEAT                    257077 non-null  int64
 10  WARD                    257077 non-null  int64
 11  FBI CD                  257077 non-null  object
 12  X COORDINATE            257011 non-null  float64
 13  Y COORDINATE            257011 non-null  float64
 14  LATITUDE                257011 non-null  float64
 15  LONGITUDE               257011 non-null  float64
 16  LOCATION                257011 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 33.3+ MB

In [3]:
df.head(3)

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,JH117298,01/16/2024 01:00:00 AM,038XX W DIVERSEY AVE,0810,THEFT,OVER $500,STREET,N,N,2524,35,06,1150337.0,1918345.0,41.931844,-87.722951,"(41.931843966, -87.722950868)"
1,JG561057,12/31/2023 04:30:00 PM,004XX N WABASH AVE,0460,BATTERY,SIMPLE,STREET,N,N,1834,42,08B,1176592.0,1902931.0,41.888994,-87.626935,"(41.888993854, -87.626934833)"
2,JH117691,01/16/2024 06:50:00 PM,010XX W 99TH ST,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,Y,N,2232,21,15,1170976.0,1839080.0,41.713905,-87.649425,"(41.713904887, -87.649424515)"

Raw datset columns has typographical errors. Below code resolves this:

In [4]:
# Remove leading and trailing spaces from each column name
df.columns = df.columns.str.strip()

# Apply strip() to each column where the data type is string (object)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# If the column name has multiple spaces (e.g., "DATE  OF OCCURRENCE"), replace them
df.columns = df.columns.str.replace('  ', ' ', regex=False)

/var/folders/7m/ddp37zln6fv2cyggyzzzrln40000gn/T/ipykernel_7843/2776783813.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Drop na values in location coordinates (total 66 rows):

In [5]:
# Remove rows where any of the specified columns have missing data
df = df.dropna(subset=['X COORDINATE', 'Y COORDINATE', 'LATITUDE', 'LONGITUDE', 'LOCATION'])

Feature Engineer the following features: 
1. Time of Day (Early Morning, etc.), per 4h increment
2. Weekend? (i.e. Friday 5pm onwards to Sunday 11:59pm)
3. Month

In [22]:
# Convert 'DATE OF OCCURRENCE' to datetime format
df['DATE OF OCCURRENCE'] = pd.to_datetime(df['DATE OF OCCURRENCE'], errors='coerce')

# Create a function to categorize time into buckets
def categorize_time(hour):
    if 0 <= hour < 6:
        return "Late Evening"
    elif 6 <= hour < 9:
        return "Early Morning"
    elif 9 <= hour < 12:
        return "Late Morning"
    elif 12 <= hour < 15:
        return "Early Noon"
    elif 15 <= hour < 18:
        return "Late Noon"
    else:
        return "Early Evening"

# Apply the time categorization to create 'TIME OF DAY' column
df['TIME OF DAY'] = df['DATE OF OCCURRENCE'].dt.hour.map(categorize_time)

In [23]:
# Extract the month from 'DATE  OF OCCURRENCE' and create a new column 'MONTH'
df['MONTH'] = df['DATE OF OCCURRENCE'].dt.month_name()

In [24]:
df['WEEKDAY'] = df['DATE OF OCCURRENCE'].dt.strftime('%A')

In [25]:
df['WEEKDAY NUM'] = df['DATE OF OCCURRENCE'].dt.weekday

In [26]:
df['WEEKEND'] = np.where(df['WEEKDAY NUM'] <= 4, 'NO','YES')

In [27]:
df.drop(['WEEKEND'],axis=1,inplace = True)

In [28]:
# Extract day of week and hour
df['hour'] = df['DATE OF OCCURRENCE'].dt.hour
# Use conditions to determine 'Weekend'
df['WEEKEND'] = (
    (df['WEEKDAY NUM'] == 4) & (df['hour'] >= 17) |  # Friday after 5 PM
    (df['WEEKDAY NUM'].isin([5, 6]))                 # Saturday or Sunday
).map({True: '1', False: '0'})
# Drop intermediate columns if desired
df.drop(['hour'], axis=1, inplace=True)

#### Convert Month and Time of Day columns to sine/cosine

    - Ordinal Encoding: Works well if months have a natural order relevant to the problem (e.g., sales data trends over a year).
    - One-Hot Encoding: Suitable for models like logistic regression that cannot infer order from numerical values.
    - Cyclical Encoding: Best when the cyclical nature of months is important (e.g., temperature data over a year).

In [30]:
# Create a mapping for months to numbers (1-12)
month_order = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4, 
    'May': 5, 'June': 6, 'July': 7, 'August': 8, 
    'September': 9, 'October': 10, 'November': 11, 'December': 12
}

In [31]:
df['MONTH_ENCODED'] = df['MONTH'].map(month_order)

In [32]:
# Apply sine and cosine transformations
df['MONTH_SIN'] = np.sin(2 * np.pi * df['MONTH_ENCODED'] / 12)
df['MONTH_COS'] = np.cos(2 * np.pi * df['MONTH_ENCODED'] / 12)

In [33]:
# Define an ordinal mapping for time_of_day
time_order = {
    'Early Morning': 1,
    'Late Morning': 2,
    'Early Noon': 3,
    'Late Noon': 4,
    'Early Evening': 5,
    'Late Evening': 6
}
# Apply the mapping
df['TIME ENCODED'] = df['TIME OF DAY'].map(time_order)

Consolidate Offenses:

In [13]:
# Create a new column 'Offenses' based on 'PRIMARY DESCRIPTION'
df['OFFENSES'] = df['PRIMARY DESCRIPTION']
df['OFFENSES'].value_counts()

OFFENSES
THEFT                                60071
BATTERY                              45766
CRIMINAL DAMAGE                      28638
ASSAULT                              23508
MOTOR VEHICLE THEFT                  22331
OTHER OFFENSE                        16773
DECEPTIVE PRACTICE                   15059
ROBBERY                               9442
BURGLARY                              8178
WEAPONS VIOLATION                     7914
NARCOTICS                             5821
CRIMINAL TRESPASS                     4884
OFFENSE INVOLVING CHILDREN            1637
CRIMINAL SEXUAL ASSAULT               1521
SEX OFFENSE                           1218
PUBLIC PEACE VIOLATION                 976
INTERFERENCE WITH PUBLIC OFFICER       682
HOMICIDE                               575
STALKING                               497
ARSON                                  492
PROSTITUTION                           280
CONCEALED CARRY LICENSE VIOLATION      201
LIQUOR LAW VIOLATION                   192
INTIMIDATION                           156
KIDNAPPING                             100
OBSCENITY                               56
GAMBLING                                21
PUBLIC INDECENCY                        11
OTHER NARCOTIC VIOLATION                 5
HUMAN TRAFFICKING                        3
NON-CRIMINAL                             3
Name: count, dtype: int64

In [14]:
# Get the value counts for 'Offenses' and identify offenses with fewer than 500 occurrences
value_counts = df['OFFENSES'].value_counts()
# Replace offenses that occur fewer than 500 times with "OTHER OFFENSE"
to_remove = value_counts[value_counts<10000].index

In [15]:
df = df.loc[df['OFFENSES'].isin(value_counts[value_counts >= 10000].index)]

In [16]:
df['OFFENSES'].value_counts()

OFFENSES
THEFT                  60071
BATTERY                45766
CRIMINAL DAMAGE        28638
ASSAULT                23508
MOTOR VEHICLE THEFT    22331
OTHER OFFENSE          16773
DECEPTIVE PRACTICE     15059
Name: count, dtype: int64

In [17]:
# Get the value counts for 'Offenses' and identify offenses with fewer than 500 occurrences
value_counts = df['OFFENSES'].value_counts()
# Replace offenses that occur fewer than 500 times with "OTHER OFFENSE"
to_replace = value_counts[value_counts<500].index
df['OFFENSES'] = df['OFFENSES'].replace(to_replace, "OTHER OFFENSE")

In [18]:
# Consolidate specific offenses into other categories
df['OFFENSES'] = df['OFFENSES'].replace({
    "PUBLIC PEACE VIOLATION": "PUBLIC ORDER",  # Consolidate Public Peace Violation into new category: 'PUBLIC ORDER'
    "INTERFERENCE WITH PUBLIC OFFICER": "PUBLIC ORDER",  # Consolidate Interference with Public Officer into new category: 'PUBLIC ORDER'
    "CRIMINAL SEXUAL ASSAULT": "SEX OFFENSE"  # Conslidate Criminal Sexual Assault into: 'SEX OFFENSE'
})

In [36]:
processed_df = df[['WARD', 'TIME ENCODED', 'MONTH_SIN', 'MONTH_COS', 'WEEKEND', 'DATE OF OCCURRENCE', 'OFFENSES', 'LATITUDE', 'LONGITUDE']]
processed_df

,WARD,TIME ENCODED,MONTH_SIN,MONTH_COS,WEEKEND,DATE OF OCCURRENCE,OFFENSES,LATITUDE,LONGITUDE
0,35,6,5.000000e-01,8.660254e-01,0,2024-01-16 01:00:00,THEFT,41.931844,-87.722951
1,42,4,-2.449294e-16,1.000000e+00,1,2023-12-31 16:30:00,BATTERY,41.888994,-87.626935
5,16,3,5.000000e-01,8.660254e-01,1,2024-01-06 12:50:00,DECEPTIVE PRACTICE,41.793299,-87.664566
6,1,3,8.660254e-01,-5.000000e-01,1,2024-04-07 13:56:00,THEFT,41.906797,-87.671862
8,49,4,1.000000e+00,6.123234e-17,0,2024-03-22 15:30:00,THEFT,42.007825,-87.670842
...,...,...,...,...,...,...,...,...,...
257072,27,1,-5.000000e-01,8.660254e-01,1,2024-11-23 08:25:00,OTHER OFFENSE,41.891743,-87.721438
257073,44,3,-5.000000e-01,8.660254e-01,1,2024-11-23 14:45:00,THEFT,41.939552,-87.650352
257074,21,2,-5.000000e-01,8.660254e-01,1,2024-11-23 11:04:00,OTHER OFFENSE,41.706442,-87.642820
257075,27,6,-5.000000e-01,8.660254e-01,1,2024-11-23 00:54:00,BATTERY,41.879214,-87.699988
257076,28,2,-5.000000e-01,8.660254e-01,1,2024-11-03 09:00:00,OTHER OFFENSE,41.882003,-87.729099