4. Splitting date column into months. (January to December)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('raw_data/chicago.csv')

data.head()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,JH117298,01/16/2024 01:00:00 AM,038XX W DIVERSEY AVE,0810,THEFT,OVER $500,STREET,N,N,2524,35,06,1150337.0,1918345.0,41.931844,-87.722951,"(41.931843966, -87.722950868)"
1,JG561057,12/31/2023 04:30:00 PM,004XX N WABASH AVE,0460,BATTERY,SIMPLE,STREET,N,N,1834,42,08B,1176592.0,1902931.0,41.888994,-87.626935,"(41.888993854, -87.626934833)"
2,JH117691,01/16/2024 06:50:00 PM,010XX W 99TH ST,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,Y,N,2232,21,15,1170976.0,1839080.0,41.713905,-87.649425,"(41.713904887, -87.649424515)"
3,JG522770,11/30/2023 07:28:00 AM,034XX W CHICAGO AVE,2024,NARCOTICS,POSSESS - HEROIN (WHITE),ALLEY,Y,N,1121,27,18,1153117.0,1905117.0,41.895490,-87.713086,"(41.895490399, -87.713086271)"
4,JG560426,12/31/2023 12:55:00 AM,0000X W GRAND AVE,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,Y,N,1831,42,15,1175975.0,1903895.0,41.891653,-87.629172,"(41.891653037, -87.62917162)"

In [ ]:
print(data.columns)

Index(['CASE#', 'DATE__OF_OCCURRENCE', 'BLOCK', 'IUCR', 'PRIMARY_DESCRIPTION',
       'SECONDARY_DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC',
       'BEAT', 'WARD', 'FBI_CD', 'X_COORDINATE', 'Y_COORDINATE', 'LATITUDE',
       'LONGITUDE', 'LOCATION'],
      dtype='object')

In [ ]:

data['DATE__OF_OCCURRENCE'] = pd.to_datetime(data['DATE__OF_OCCURRENCE'])

# Extraction of the month name and creation a new column
data['Month'] = data['DATE__OF_OCCURRENCE'].dt.month_name()

# Display of the first 50 rows
data[['DATE__OF_OCCURRENCE', 'Month']].head(50)

   DATE__OF_OCCURRENCE     Month
0  2024-01-16 01:00:00   January
1  2023-12-31 16:30:00  December
2  2024-01-16 18:50:00   January
3  2023-11-30 07:28:00  November
4  2023-12-31 00:55:00  December
5  2024-01-06 12:50:00   January
6  2024-04-07 13:56:00     April
7  2023-12-16 16:15:00  December
8  2024-03-22 15:30:00     March
9  2024-02-18 19:18:00  February
10 2024-04-07 03:40:00     April
11 2023-11-30 14:00:00  November
12 2024-02-18 17:30:00  February
13 2023-11-29 00:30:00  November
14 2023-11-30 10:15:00  November
15 2023-11-30 12:15:00  November
16 2024-03-22 14:42:00     March
17 2023-11-30 09:30:00  November
18 2023-11-30 14:30:00  November
19 2023-11-30 13:28:00  November
20 2023-11-30 08:20:00  November
21 2023-11-29 11:17:00  November
22 2023-12-14 11:30:00  December
23 2023-12-31 22:40:00  December
24 2024-04-07 00:29:00     April
25 2023-12-14 20:00:00  December
26 2024-01-13 07:00:00   January
27 2023-12-14 15:00:00  December
28 2023-12-31 00:40:00  December
29 2023-12-14 19:40:00  December
30 2024-01-02 20:00:00   January
31 2024-01-16 18:40:00   January
32 2023-12-31 02:00:00  December
33 2023-12-31 19:00:00  December
34 2023-12-01 15:00:00  December
35 2023-12-31 11:30:00  December
36 2023-12-31 20:00:00  December
37 2023-12-01 19:05:00  December
38 2023-12-31 08:30:00  December
39 2023-12-01 07:30:00  December
40 2024-01-16 04:00:00   January
41 2023-12-05 18:00:00  December
42 2023-12-15 09:25:00  December
43 2023-12-15 11:30:00  December
44 2023-12-15 19:50:00  December
45 2023-12-14 00:00:00  December
46 2023-12-10 03:16:00  December
47 2023-12-02 19:10:00  December
48 2023-12-02 01:18:00  December
49 2023-12-02 15:00:00  December

In [21]:
# last 50 rows
data[['DATE__OF_OCCURRENCE', 'Month']].tail(50)

       DATE__OF_OCCURRENCE      Month
257027 2024-11-23 00:18:00   November
257028 2024-11-23 20:52:00   November
257029 2024-11-01 14:00:00   November
257030 2024-11-23 16:00:00   November
257031 2024-11-23 16:50:00   November
257032 2024-11-23 23:30:00   November
257033 2024-11-23 17:00:00   November
257034 2024-11-23 16:35:00   November
257035 2024-11-23 02:30:00   November
257036 2024-11-23 19:00:00   November
257037 2024-11-23 16:00:00   November
257038 2024-11-23 17:00:00   November
257039 2024-10-16 15:00:00    October
257040 2024-11-23 18:15:00   November
257041 2024-11-23 20:30:00   November
257042 2024-11-23 16:00:00   November
257043 2024-11-24 00:00:00   November
257044 2024-11-23 01:59:00   November
257045 2024-11-23 19:45:00   November
257046 2024-11-23 11:30:00   November
257047 2024-11-23 02:22:00   November
257048 2024-11-23 01:18:00   November
257049 2024-11-23 07:28:00   November
257050 2024-11-23 13:27:00   November
257051 2024-11-23 23:30:00   November
257052 2024-11-23 17:00:00   November
257053 2024-11-23 14:01:00   November
257054 2024-11-23 21:50:00   November
257055 2024-11-23 12:15:00   November
257056 2024-11-23 19:41:00   November
257057 2024-11-23 14:53:00   November
257058 2024-11-23 01:07:00   November
257059 2024-11-23 09:28:00   November
257060 2024-09-15 19:00:00  September
257061 2024-11-23 14:00:00   November
257062 2024-11-23 08:30:00   November
257063 2024-11-23 02:41:00   November
257064 2024-11-23 14:00:00   November
257065 2024-04-01 00:00:00      April
257066 2024-11-23 17:30:00   November
257067 2024-11-23 17:30:00   November
257068 2024-11-23 20:22:00   November
257069 2024-11-23 04:15:00   November
257070 2024-11-23 01:00:00   November
257071 2024-11-23 12:00:00   November
257072 2024-11-23 08:25:00   November
257073 2024-11-23 14:45:00   November
257074 2024-11-23 11:04:00   November
257075 2024-11-23 00:54:00   November
257076 2024-11-03 09:00:00   November